#firstArrow {
    width: 100%;
    max-height: 150px;
    max-width: 875px;
    margin-top: 30px;
}

.form-control {
    display: inline;
    width: 1em;
    padding: 0 0 0 0.2em;
}
.wrapper {
    width:200px;
    margin: 0 auto;
}
.abChars {
    padding: 0;
    font-size: 1.5em;
}
#rc {
    width: 100%;
    font-size: inherit;
}

.help {
    background-color: darkorange;
    border-radius: 0.3em ;
}
#sprite div {
    position: absolute;
}
#extantion {
    margin-bottom: 30px;
}
#sprite input, #sprite span {
    padding: 0 0 0 0.2em;
    line-height: 1.25;
    width: 1em;
}
#sprite {
    margin: auto;
    width: 100%;
    max-width: 875px;
    position: relative;
}
#header {
    height: 10px;
}